body {
  background-color: rgba(254,233,228,255);
  margin: 0px !important; 
  padding: 0px !important;
}

.app {
  color: rgb(52,94,175);
}

.app h2 {
  font-weight: 600;
  font-size:  160%;
}

label {
  color: #2350ab;
  font-weight: bold;
}

.submitbuttom {
  width: 100%;
}

label a {
  text-decoration: none;
}

.mobileNav {
  background-color: #2350ab;
  color: #fff;
  padding: 1% 0% 1% 0%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: larger;
}

.card {
  background-color: rgba(254,233,228,255);
  color: #884f60;
  border-top: solid rgba(254,233,228,255);
  border-left: solid rgba(254,233,228,255);
  border-right: solid rgba(254,233,228,255);
  border-bottom: solid 0.1px #884f60;
}


/* Small Devices */


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .mobileNav {
    background-color: #2350ab;
    color: #fff;
    padding: 4% 4% 4% 4%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: larger;
  }

  .app h2 {
    font-weight: 600;
    font-size:  160%;
    padding: 0% 5%;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .mobileNav {
    background-color: #2350ab;
    color: #fff;
    padding: 4% 4% 4% 4%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: larger;
  }

  .app h2 {
    font-weight: 600;
    font-size:  160%;
    padding: 0% 5%;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .mobileNav {
    background-color: #2350ab;
    color: #fff;
    padding: 4% 4% 4% 4%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: larger;
  }

  .app h2 {
    font-weight: 600;
    font-size:  160%;
    padding: 0% 5%;
  }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .mobileNav {
    background-color: #2350ab;
    color: #fff;
    padding: 4% 4% 4% 4%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: larger;
  }

  .app h2 {
    font-weight: 600;
    font-size:  160%;
    padding: 0% 5%;
  }

}